{% extends './base.html' %} {% block content %}
<h2>Ingredients List</h2>
<a href="{% url 'ingredientcreate' %}"
  ><button class="btn">Add Ingredient</button></a
>
<table id="ingredients">
  <tr>
    <th>name</th>
    <th>quantity</th>
    <th>unit</th>
    <th>price/unit</th>
    <th></th>
    <th></th>
  </tr>
  {% for ingredient in ingredient_list %}
  <tr></tr>
  <tr>
    <td>{{ ingredient.name }}</td>
    <td>{{ ingredient.quantity }}</td>
    <td>{{ ingredient.unit }}</td>
    <td>{{ ingredient.unit_price }}</td>
    <td>
      <a href="{% url 'ingredientupdate' ingredient.id %}"
        ><button>Edit</button></a
      >
    </td>
    <td>
      <a href="{% url 'ingredientdelete' ingredient.id %}"
        ><button>Delete</button></a
      >
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
